body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50;
}

p {
    font-size: 18px;
    color: #666;
}

input[type="file"] {
    margin: 20px;
    padding: 10px;
    border: 2px dashed #4CAF50;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

#preview {
    margin: 20px auto;
    max-width: 100%;
}

#previewImage {
    max-width: 100%;
    height: auto;
}

#downloadLink {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: fit-content;
}

#downloadLink:hover {
    background-color: #45a049;
}